html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: font-family: 'Barlow Semi Condensed', sans-serif;


}

a {

}

h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;

}

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;

}
