html {
}

a {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;

}

h2 {
  font-family: 'Barlow Semi Condensed', sans-serif;

}

p {
  font-family:'Barlow Semi Condensed', sans-serif;
}

.classy-text {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 12px;
  background-color: skyblue;

}

#title {
  color: slategray;
  text-decoration: underline dotted red;
}
